<!DOCTYPE html>
<html>
<head>
<title>DepoRanker</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>


<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="w3-center">
  <h4> </h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">DepoRanker</h1>
  </div>
</header>



<hr>
<h2 class="w3-center">Download your file</h2>
<div class="w3-center">
  <br>
<form method="GET" action="/download" enctype="multipart/form-data">
<p><input type="submit" class="w3-button w3-theme" value="Download"></p>
</form>
  <br><br>
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-dark w3-padding-16">
  <h3></h3>
<p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>
